$highlight-color: #F90;
$baseFontsize: 16px;

@function px2rem($pixel) {
  @if (unitless($pixel)) {
    $pixel: $pixel*1px;
  }
  @return $pixel/$baseFontsize *1rem;
}

@mixin bgs($url) {
  background-image: url($url);
  -webkit-background-size:100%;
  background-size:100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}



